.header {
  display: block;
  text-align: left;
  font-size: 1.3rem;
  width: 100%;
  background-color: #e5e9ea;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.header h1,
.header h2 {
  margin: 0;
}
.header h1 {
  text-decoration: underline;
}
.header h2 {
  margin-top: 5px;
}
.header_inner {
  position: relative;
  width: 1130px;
  margin: 0 auto;
  padding: 16px 16px;
}
.header_project-link {
  position: absolute;
  right: 16px;
}
