div(class="creatives_ads")
  div(class="creatives_constructor")
    div(class="creatives_constructor-title") Drag items here
    div(class="creatives_constructor-elm creatives_constructor-elm__image", ng-sortable="imagesSortableTarget")
      div(class="creatives_constructor-elm__image-res", ng-repeat="src in imageResults track by $index")
        img(ng-src="[[src]]")
    div(class="creatives_constructor-elm creatives_constructor-elm__headline", ng-sortable="headlineStringsTarget")
      div(class="creatives_constructor-elm__string-res", ng-repeat="headline in headlineResults track by $index")
        span(class="editable" data-value="headline") [[headline]]
    div(class="creatives_constructor-elm creatives_constructor-elm__text", ng-sortable="textStringsTarget")
      div(class="creatives_constructor-elm__string-res", ng-repeat="text in textResults track by $index")
        span(class="editable" data-value="text") [[text]]
  div(class="creatives_ready-ads", ng-class="{'creatives_ready-ads-empty': !readyAds.length}")
    div(class="creatives_ready-ads-inner")
      div(class="creatives_ready-ad", ng-repeat="ad in readyAds track by $index")
        span(class="creatives_item-remove", ng-click="readyAds.splice($index, 1)")
          span &times;
        div(class="creatives_ready-ad-inner")
          span(class="creatives_ready-ad-preview")
            img(src="img/view-icon.png")
          img(class="creatives_ready-ad-image", ng-src="[[ad.image]]")
          p(class="creatives_ready-ad-headline")
            span(class="editable", data-value="ad.headline") [[ad.headline]]
          p(class="creatives_ready-ad-text")
            span(class="editable", data-value="ad.text") [[ad.text]]
