div(class="creatives_draggables")
  div(class="creatives_tabs")
    div(class="creatives_tab",
      ng-click="activeTab = 'images'",
      ng-class="{'creatives_tab__active': activeTab == 'images'}")
      span(class="creatives_tab-title") Images
      span(class="creatives_tab-question")
        span ?
    div(class="creatives_tab", ng-click="activeTab = 'headers'",
    ng-class="{'creatives_tab__active': activeTab == 'headers'}")
      span(class="creatives_tab-title") Headers
      span(class="creatives_tab-question")
        span ?
    div(class="creatives_tab", ng-click="activeTab = 'texts'",
    ng-class="{'creatives_tab__active': activeTab == 'texts'}")
      span(class="creatives_tab-title") Texts
      span(class="creatives_tab-question")
        span ?
  div(class="creatives_tabs-content")
    div(class="creatives_images", ng-show="activeTab == 'images'") Images
    div(class="creatives_strings creatives_strings__headers", ng-show="activeTab == 'headers'", ng-sortable="headlineStrings")
      div(class="creatives_string creatives_strings_header", ng-repeat="header in headers")
        div(class="creatives_string-inner")
          span(class="creatives_string-drag-handle") ☰
          span [[header]]
    div(class="creatives_strings creatives_strings__texts", ng-show="activeTab == 'texts'", ng-sortable="textStrings")
      div(class="creatives_string creatives_strings_text", ng-repeat="text in texts")
        div(class="creatives_string-inner")
          span(class="creatives_string-drag-handle") ☰
          span [[text]]
