div(class="header")
  div(class="header_inner")
    a(class="header_project-link", href="https://github.com/yuriMalakhov/drag-n-drop-proto") View on GitHub
    h1(class="header_project-title") Drag-n-drop-proto
    h2(class="header_project-description") This is an example prototype for ads creative creation using drag and drop approach. Part of facebook.aitarget.ru tool.